body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
  }
  html{
    font-size:100%;
}
@media(max-width:320px){
    html{
        font-size: 45%;
    }
    
}
@media(max-width:375px){
  html{
      font-size: 55%;
  }
}
@media(max-width:425px){
    html{
        font-size: 65%;
    }
}
  ul li{
    list-style: none;
    margin:0px 25px 0px 0px;
    cursor: pointer;
    
  }
  ul li:hover{
   color: rgb(66, 45, 45)
  }
  a{
    text-decoration: none;
    color: white;
  }
 .header{
    display: flex;
 }
  .firstSection {
    background-image: url('laeeq2.jpg'); 
    background-size: cover;
    background-position: center;
    width: 80%;
    height: 34rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  align-items: center;
    overflow: hidden;
  }
  .firstSection::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    z-index: 1;
  }
  .typed-text{
    color: white;
    font-size: 24px;
    font-weight: bold;
    z-index: 1;
  }
  .content{
    font-size: 24px;
    font-weight: bold;
    z-index: 1;
  }
 
  .thirdSection{
    position: relative;
    background-color: black;
    width: 300px;
    height: 100%;
    padding: 15px;
  }
 
  .contactLinks{
    display: flex;
    
    align-items: flex-start;
     margin: 25px 0px 35px 0px;
  }
  
   nav img {
    display: block; 
    margin: 0 auto; 
    width: 80px;
    height: 80px;
    border: 8px solid rgb(53, 46, 46);
    border-radius:50px;

  }
  .name{
    text-align: center;
   padding: 15px;
  }
  .pages li{
    margin: 20px 0px 20px 0px ;
  }
  .contactLinks li i,
.pages li i {
  font-size: 18px;
  margin-right: 5px;
}
hr{
    background-color:grey;
    width: 60vw;
    height: 5px;
}
.secondSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.secondSection h2{
  margin-bottom: 40px;
}
.experience{
  display: flex;
  background-color: aqua;
  width: 80vw;
  height: 2px;
  margin-bottom: 100px;
}
.flow{
  background-color:aqua;
  width: 2px;
  height: 60px;
  margin: 0px 45px;
  font-size: 10px;
}
.semester{
  position: relative;
  top: -25px;
}
.semesterDesc{
position: relative;
top: 40px;
width: 80px;
padding-bottom: 50px;

}
.AboutMe{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.aboutMeInner{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(28, 27, 27);
  border-radius: 20px;
  padding-top: 10px;
  margin: 5rem;
 
}
.desc p{
 margin: 20px;
 
}
.desc ul li{
list-style:square;
color: aqua;
margin-bottom: 5px;
}
.aboutMeInner img{
  position: absolute;
  top: 3rem;
  left: 2rem;
  width: 80px;
  height: 80px;
  border: 8px solid rgb(53, 46, 46);
  border-radius:50px;
  
}
.mainServices{
  display: flex;
  justify-content: center;
  align-items: center;
}
.servicesInner{
  display: flex;
  flex-wrap:wrap;
  /* margin: 5rem; */
  justify-content: center;
  align-items: center;
  /* background-color: beige; */
  width: 90vw;
  /* height:  100vh; */
  margin: 8rem 0rem ;
}
.card{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-self: center;
  /* justify-content: center; */
  background-color: rgb(17, 27, 27);
  border-radius: 20px;
  width:18rem;
  height: 23rem;
  margin:  0.4rem;
  padding: 15px 0px;
}
.card h2{
  color: aqua;
}
.card ul li{
  list-style:square;
  color: white;
  margin-bottom: 10px;
}
.card i{
  font-size: 2.5rem;
  color: aqua;
}
